:root {
    --max-content-width: 590px;
    --default-border-radius: 4px;
}

.Texto h1 {
    font-family: "Montserrat", sans-serif;
    color: white;   
}

.Texto p {
    font-family: "Montserrat", sans-serif;
    color: white;
    line-height: 30px;
    font-size: 18px;
}

.Texto {
    position: absolute;
    top: 68%;
    left: 0;
    margin: auto auto;
    height: 100%;
    width: 100%;
    background-position: center;
    text-align: center;
    line-height: 10px;
    z-index: 10;
}